<div class="section footer dark">
    <div class="container">
        <img src="{{ "/assets/img/logo_dark.svg" | relative_url }}">
        <p class="section-description">Get in touch.</p>
        <div class="social">
            <a href="https://www.instagram.com/varun.manavazhi/"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/varunmanavazhi"><i class="fab fa-twitter"></i></a>
            <!-- <a href="mailto:samdon97@gmail.com"><i class="fas fa-paper-plane"></i></a> -->
        </div>
        <p>Copyright <i class="fas fa-copyright"></i> {{ "now" | date: "%Y" }} All Rights Reserved.</p>
        <p class="credit">Made with <i class="fas fa-heart"></i> by <a target="_blank"
                href="https://saumil-sh.github.io">Saumil Shah</a>.</p>
    </div>
</div>

<!-- sticky navbar -->
<script type="text/javascript">
    window.onscroll = function () { myFunction() };

    var navbar = document.getElementById("navbar");
    var brand = document.getElementById("brand");
    var height = navbar.offsetHeight; // find height of the navbar
    var sticky = navbar.offsetTop + height; // find y-pos of the navbar

    var wrapper = document.getElementById("navbar-wrapper");
    wrapper.style.height = height + "px";

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            brand.classList.add("fade");
            brand.classList.remove("hide");
            navbar.classList.add("sticky");
        } else {
            navbar.classList.remove("sticky");
            brand.classList.add("hide");
        }
    }
</script>

<script type="text/javascript">
    function menuExpand() {
        var x = document.getElementById("navbar");
        if (x.className === "close sticky") {
            x.className = "open sticky";
        } else {
            x.className = "close sticky";
        }
    }
</script>
<!-- end sticky navbar -->

<!-- lazy loading -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

<script type="text/javascript">
// Initialize library
const observer = lozad(); // lazy loads elements with default selector as '.lozad'
observer.observe();

// Initialize library to lazy load images
lozad('.lozad', {
    load: function(el) {
        console.log('loading element');

        // Custom implementation to load an element
        // e.g. el.src = el.getAttribute('data-src');
        el.src = el.getAttribute("data-src");
            el.onload = function () {
                el.classList.add('fade');
            }

    }
});
</script>
<!-- end lazy loading -->

<!-- lite-youtube -->
<script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>

<!-- end lite-youtube -->

<!-- font-awesome -->
<script type="text/javascript" src="https://kit.fontawesome.com/1780dd6d31.js"></script>