<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
	{% include header.html %}
	<!-- Primary Page Layout -->

	<div class="section main">
		<div class="container">
			{{ content }}
			<div class="row" id="gallery">
				<div class="one-half column">
					{% for link in page.links %}
					<lite-youtube videoid="{{ link }}"
					posterquality="maxresdefault" nocookie></lite-youtube>
					{% endfor %}
				</div>
				<div class="one-half column">
					{% for link in page.links %}
					<lite-youtube videoid="{{ link }}"
					posterquality="maxresdefault" nocookie></lite-youtube>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<!-- End Document -->
	{% include footer.html %}
</body>
</html>