<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
	{% include header.html %}
	<!-- Primary Page Layout -->

	<div class="section main">
		<div class="container">
			<div class="row">
				<div class="column">
					{{ content }}
				</div>
			</div>
			<div class="row" id="gallery">
				<div class="one-half column">
					{% for link in page.links %}
					<iframe width="480" height="270"
						src="https://www.youtube.com/embed/{{ link }}"
						title="The Science of Coffee" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						allowfullscreen></iframe>
					{% endfor %}
				</div>
				<div class="one-half column">
					{% for link in page.links %}
					<iframe width="480" height="270"
						src="https://www.youtube.com/embed/{{ link }}"
						title="The Science of Coffee" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						allowfullscreen></iframe>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<!-- End Document -->
	{% include footer.html %}
</body>
</html>