<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
	{% include header.html %}
 	<!-- Primary Page Layout -->
	{% if page.order == 1 %}
	<div class="section hero">
		<div class="container">
			<lite-youtube videoid="{{ page.hero }}" posterquality="maxresdefault" nocookie></lite-youtube>
		</div>
	</div>

	{{ content }}
			<!-- End Home Page Layout -->
	{% else %}
	<div class="section main">
		<div class="container">
			<!-- Parent Page Layout -->
			{{ content }}
			<div class="row">
				<div class="offset-by-one-third one-third column">
					{% assign mypages = site.pages | where: "type", page.title %}
					{% for page in mypages %}
					<a class="button button-primary" href="{{ page.url | relative_url }}">{{ page.title }}</a>
					{% endfor %}
				</div>
			</div>
			<!-- End Parent Page Layout -->
			{% endif %}
		</div>
	</div>

	<!-- End Document -->
	{% include footer.html %}
</body>
</html>
